body{
    font-family: 'Roboto', sans-serif;
}
header li{
    display: inline-block;
    color: white;
    margin-left: 10px;
    background: black;
    width: 80px;
    border-radius: 10px;
    text-align: center;
   
}
header ul{
    margin-left: 900px;
    margin-top: -50px;
}
header li:hover{
    color: black;
    transition: all ease-in-out 5s;
}
.line{
    background: black;
    width: auto;
    height: 5px;
}
.image{
    background-image: url('../img/nick-adams-yTWq8n3-4k0-unsplash.jpg');
    width: auto;
    height: 500px;
}
.text{
    padding-top:150px;
    padding-left: 200px;
}
.footer{
    background: black;
    width: auto;
    height: 50px;
    color: white;
    text-align: center;
}
.icons a{
    margin-left: 100px;
    padding-left: 00px;
    color: white;
    font-size: 40px;
}
.icons a :hover{
    color: black;
    transition: all ease-in 5s;
}
.rectangle{
    background: black;
    color: white;
    width: 500px;
    height: 200px;
    margin-left: 100px;
    
@media screen and (min-width: 800px){
.nav{
 margin-left:0px;
}
}